@page
@model Ganaderia.App.Presentacion.Pages.RegVeterinarioModel
@{
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registro Ganadero</title>
</head>

<body>
    <section class="form-register">
        <h1>
            <div class="mx-auto" style="width: 400px;">
                Registro Veterinario
            </div>
        </h1>
        <input class="controls" type="text" name="Cédula" id="Cédula" placeholder="Cédula">
        <input class="controls" type="text" name="Nombres" id="Nombres" placeholder="Nombres">
        <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Apellidos">
        <input class="controls" type="text" name="Telefono" id="Telefono" placeholder="Teléfono">
        <input class="controls" type="text" name="Correo" id="Correo" placeholder="Correo ELectrónico">
        <input class="controls" type="text" name="Contraseña" id="Contraseña" placeholder="Contraseña">
        <input class="controls" type="text" name="Rol" id="Rol" placeholder="Veterinario" value="Veterinario">
        <input class="controls" type="text" name="Especialidad" id="Especialidad" placeholder="Especialidad">
        <input class="controls" type="text" name="TarjetaProfesional" id="TarjetaProfesional" placeholder="Tarjeta Profesional">
        <input class="botons" type="submit" value="Guardar">
    </section>
</body>