@page
@model Ganaderia.App.Presentacion.Pages.RegVeterinarioModel
@{
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Formulario Registro</title>
</head>

<body>    
    <section class="form-register">
        <h1>
            <div class="mx-auto" style="width: 200px;">
                Registro del Veterinario
            </div>
        </h1>
        <p>Datos del Veterinario </p>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Cedula">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Apellido">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Especialidad">

        <p>Datos del Vacuno </p>

        <input class="controls" type="text" name="Edad" id="Edad" placeholder="Ingrese su Edad">
        <input class="controls" type="text" name="Peso" id="Peso" placeholder="Ingrese su Peso">
        <input class="controls" type="text" name="Genero" id="Genero" placeholder="Ingrese su Genero">
        <input class="controls" type="text" name="Raza" id="Raza" placeholder="Ingrese su Raza">
        <input class="controls" type="text" name="Ingreso" id="Ingreso" placeholder="Ingrese su Fecha de Ingreso">
        <input class="controls" type="text" name="Salidad" id="Salidad" placeholder="Ingrese su Solicitud de Salidad">


        
        
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
    </section>

</body>