@page
@model Ganaderia.App.Presentacion.Pages.RegVeterinarioModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registro Veterinario</title>
</head>

<body>
    <section class="form-register">
        <form method="post">
            <h1>
                <div class="mx-auto" style="width: 400px;">Registro Veterinario</div>
            </h1>
            <input class="controls" type="text" name="Cedula" id="Cedula" placeholder="Cédula">
            <input class="controls" type="text" name="Nombres" id="Nombres" placeholder="Nombres">
            <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Apellidos">
            <input class="controls" type="text" name="NumeroTelefono" id="NumeroTelefono" placeholder="Teléfono">
            <input class="controls" type="text" name="Email" id="Email" placeholder="Correo ELectrónico">
            <input class="controls" type="text" name="Contrasena" id="Contrasena" placeholder="Contraseña">
            <input class="controls" type="text" name="Rol" id="Rol" placeholder="Rol" value="Veterinario">
            <input class="controls" type="text" name="Especialidad" id="Especialidad" placeholder="Especialidad">
            <input class="controls" type="text" name="TarjetaProfesional" id="TarjetaProfesional" placeholder="Tarjeta Profesional">
            <input class="botons" type="submit" value="Registrar" asp-page-handler="Add">
        </form>
    </section>
</body>